<!-- index.erb -->

<div class="page-title">
  <h2> Road Rash </h2>
  <span class="credit">
    <img src=''  />
    </a>
  </span>
  <p>
  <div class="row">
    <form class="authorize" action="/login" method="post" >
      <input id="auth" type="submit" value="login with strava">
    </form>
  </div>

</div>




