<!-- index.erb -->

<div class="home">
  <div class="page-title">
    <h2> Road Rash </h2>
    <p>
  </div>
  <div class="auth">
    <p>
    <br>
    <br>
    <form action="/login" method="post" >
      <input id="auth-button" type="submit" value="login with strava">
    </form>
  </div>
</div>
