<!-- layout.erb -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <meta charset="utf-8">
      <title> Road Rash </title>
      <meta name="description" content="Export Strava Logs to CSV">
      <meta name="author" content="wcpines">

      <!-- FONT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

      <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <link rel="stylesheet" type=text/css href="/public/styles/skeleton.css">
        <link rel="stylesheet" type=text/css href="/public/styles/normalize.css">
        <link rel="stylesheet" type=text/css href="/public/styles/master.css">
  </head>

  <body>

    <%= yield %>

    <!-- End Document
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>

</html>




